.login-form {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;

  .title-form {
    margin-bottom: 35px;
    h2 {
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 1px;
      color: var(--text-dark);
      border-bottom: 2px solid var(--primary-color);
    }
  }

  .input-form {
    width: 100%;

    .icon-form {
      color: var(--text-dark);
      margin-right: 10px;
      font-size: 22px;
    }
  }

  .button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .button-enter,
    .info-enter {
      height: 40px;
      width: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      border-radius: 20px;
      border: none;
      letter-spacing: 1px;
      font-weight: 700;
      border: #ccc solid 2px;
      background-color: var(--bg-color);
      color: var(--primary-color);
      transition: all 0.5s ease;
    }
    .button-enter:hover {
      background-color: var(--primary-color);
      color: var(--text-light);
      border: none;
    }
  }
  .btn-recovery {
    user-select: none;
    font-weight: 700;
    color: var(--text-dark);
    border: none;
    background: none;
  }
}
